<div class='banner'><h1 style='text-align:left; font-size:80px; color:#f9fcba;'>Rails Recipes</h1></div>
<div class= 'container2'>
<div style= 'width:160px;'>

</div>
    <div class='container1'>
      <h1 style='text-align:center;'>Your Recipe List</h1>
    <% @recipes.each do |recipe| %>
    <%= link_to recipe_path(recipe), style: 'text-decoration:none; color:black;'  do %>
    <div class = 'recipe_div'><%= recipe.name %></div>
    <% end %>
    <% end %>
    </div>

  <div class='container3'>
    <% if current_user %>
    <div style='display:flex; flex-direction:column;'>
      <%= link_to 'Recipe Book', my_recipes_path, style: 'font-size:20px; color:black; margin-bottom:15px;' %>
      <%= link_to 'Weekly Schedule', schedules_path, style: 'font-size:20px; color:black;' %>
      <%= link_to 'Shopping List', shopping_list_path, style: 'font-size:20px; color:black; margin-top:15px;' %>

    </div>
    <% end %>
      <!-- <div>
    <h3 style='text-decoration:underline;'>Your Shopping List</h3>
    <ul>
    <% @recipes.each do |recipe| %>
    <% recipe.ingredients.each do |ingredients| %>
    <li><%= ingredients.name  %></li>
    <% end %>
    <% end %>
    </ul>
    </div> -->

  </div>
</div>
<hr style="margin-top:20px; ">
<h4 style='text-align:center;'><%= link_to 'Create New Recipe', new_recipe_path %> </h4>
