<div style="display:flex;flex-direction:column; align-items:center; ">
  <h1>New Recipe</h1>

<%= form_for @recipe  do |f| %>
 <div style='margin:10px;'>
  <%= f.label 'Name :' %> 
  <%= f.text_field :name %>
</div>

 <div style='margin:10px;'>
  <%= f.label 'Cook Time :' %>
  <%= f.number_field :cooktime %>
</div>

 <div style='margin:10px;'>
  <%= f.label 'Image URL :' %>
  <%= f.text_field :img_url %>
</div>



  <h3 style='margin-left:65px;'>Ingredients</h3>
<ul>
  <%= f.fields_for :ingredients do |ingredient| %>
      <li>

        <%= ingredient.text_field :name %>
      </li>

      <% end %>
    </ul>

 <%= f.submit %>
<% end  %>

</div>

<hr style='margin-top:40px;'>
<footer style='text-align:center;'>
<%= link_to 'Back', :back %>
</footer>
